.container{
  border: 3px solid black;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 720px;
  max-height: 550px;
  padding: 0;
}

.real-time-elements{
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  margin-top: 85px;
}

.current{
  font-size: 20px;
  padding-left: 20px;
}

.current-overview{
  padding-left: 25px;
  font-size: 30px;
  line-height: 1em;
  color: #0B58CA;
  margin-bottom: 30px;
}

.temperature{
  font-size: 30px;
  line-height: 1em;
  color: #0B58CA;
  font-weight: 700;
}

.form-control{
  border: 3px solid black;
}

form{
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 450px;
  margin-top: 25px;
}

h1{
  font-weight: 800;
  line-height: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 15px;
  color: #0B58CA;
}

.units{
  text-decoration: none;
  color: black;
}

.units1{
    color: #0B58CA;
}

a{
    text-decoration: none;
}

button{
  border: 3px solid #0B58CA;
  border-radius: 8px;
  background-color: #0B58CA;
  color:white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline;
}

ul{
  list-style: none;
  padding-left: 0px;
  
}

.first, .second, .third, .fourth, .fifth, .sixth{
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

.open-source-link{
    display: block;
    text-align: left;
    margin-top: 8px;
    margin-left: 140px;
}

.first{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7ECF4;
    margin-left: 10px;
}

.second{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7ECF4;
    margin-left: 3px;
}

.third{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7ECF4;
    margin-left: 3px;
}

.fourth{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7ECF4;
    margin-left: 3px;
}

.fifth{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7ECF4;
    margin-left: 3px;
}

.sixth{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 10px;
    background-color: #E7ECF4;
}

.wrapper{
    background-color: rgba(11, 88, 202, 0.8);
    
}